<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <!-- <header>
        <%- include('../partials/header'); %>
      </header> -->
      <main>
        <!-- <div class="jumbotron">
          <h1>This is great</h1>
          <p>Welcome to templating using EJS</p>
        </div> -->
        <div>
        <form method="post" action="/user/signup">
            <label><b>Full name</b></label>
            <input type="text" required name="name" placeholder="John Doe"/>
            <label><b>Email</b></label>
            <input type="text" required name="email" placeholder="johndoe@something.com"/>
            <label><b>Password</b></label>
            <input type="text" required name="password" placeholder="*************"/>
            <button type="submit">Signup</button>
        </form>
        </div>
        <div>
          <a href="/login">
            <button>Already have an account? Login</button>
         </a>
        </div>
      </main>
    <!-- <footer>
        <%- include('../partials/footer'); %>
      </footer> -->
</body>
</html>